<%- include('header') %>
<form class="container form" action="/exchangeRate" method="GET">
    <input class="form__input" name="price" value="<%-exchangeRate-%>" type="text" placeholder="Cotação dolar">
    <input class="form__input" name="amount" type="text" placeholder="Quantidade dolares">

    <input class="form__button" type="submit" value="Converter">
</form>
<%- include('footer') %>